

@model Gighub.ViewModels.GigsViewModel

@{
    ViewData["Title"] = Model.Heading;
}
<h2 class="text-primary">@Model.Heading</h2>
@if (TempData.ContainsKey(""))
{
    <div class="alert alert-success  alert-dismissible fade show" role="alert">
        <strong>
            <i class="fas fa-check-circle "></i>&nbsp;
            @TempData["newUserSignup"] , admin is created.
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<hr />
<ul class="ul-gigs" id="gigs">

    @foreach (var gig in Model.UpComingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("dd")
                </div>
                <div class="year">
                    @gig.DateTime.ToString("yyyy")
                </div>
            </div>
            <div class="details">
                <div class="artist">
                    <a asp-action="Details" asp-controller="Gigs" asp-route-id="@gig.Id"> @gig.AppUser.Name</a>
                </div>
                <span class="genre">@gig.Genre.Name</span>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-sm @(Model.Attendances.Contains(gig.Id)?"btn-info":"btn-light")
                            toggle-attendance" data-id="@gig.Id">
                        @(Model.Attendances.Contains(gig.Id)?"Going": "Going?")
                    </button>
                    @*<button class="btn btn-sm btn-link toggle-follow" data-id="@gig.ArtistId">
                         @(Model.Followings.ToLookup(f=>f.FolloweeId).Contains(gig.ArtistId)? "Following" : "Follow?")
                        </button>*@
                }
            </div>
        </li>
    }
</ul>

@section scripts{
    <script src="~/js/Services/AttendanceService.js"></script>
    <script src="~/js/Controller/GigsController.js"></script>
    <script>
        $(document).ready(function () {
            GigsController.init("#gigs");
        })
    </script>

}
